<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Date4U Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid"><div class="navbar-nav">
            <a class="navbar-brand" href="/">Date4u</a>
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-link nav-item" th:if="${moveToUser != null }" th:href="@{/profile/}+${moveToUser}">Profile</a>
            <a class="nav-link nav-item" th:if="${moveToUser != null }" href="/search">Search</a>
<!--            <a class="nav-link nav-item" th:if="${moveToUser != null }" href="login">Create Profile</a>-->
            <a class="nav-link nav-item" th:if="${moveToUser == null }" href="/register">Register</a>
            <a class="nav-link nav-item" th:if="${moveToUser == null }" href="/login">Login</a>
            <a class="nav-link nav-item" th:if="${moveToUser != null }" href="/logout">Logout</a>
        </div></div>
    </nav>
    <div class="jumbotron">
        <div class="container"><div></div>
            <div class="jumbotron"><h1 class="display-4" th:text="|Willkommen ${name}|"><span class="badge bg-secondary"></span><</h1>
            </div>
        </div>
        <h3 data-th-text="|There are ${totalProfiles} sweeties  waiting for your message...|"><span class="badge bg-secondary"></span></h3>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>



</body>
</html>


<!--<div sec:authorize="isFullyAuthenticated()">-->
<!--    isAuthenticated-->
<!--</div>-->
<!--<div sec:authorize="isAnonymous()">-->
<!--    isAnonymous-->
<!--</div>-->