<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Test</title>
</head>
<body>

<form data-th-action="@{/teste}" method="post">
<div class="mb-3">
  <label class="form-label"> Create profile to find Se....Love ;)</label>
  <input  class="form-control" name="mess" type="text"  placeholder="Type something" >
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</div>
</form>

<!--<div>-->
<!--    <h3 class="card-header" th:text="${messages}">Message</h3>-->
<!--</div>-->
</body>
</html>